---
title: Index page
main: index
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% import "./data/data.html" as content %}
{% import "./helpers/_card-ninja.html" as ninja %}

<main data-barba="wrapper" class="{{main}}">
  <div class="barba-container" data-barba="container" data-barba-namespace="home">
    <section class="ninjas">
      <div class="ninjas__wrapper">
        <div class="ninjas__list ninjas-list">
          {% for item in content.contentIndex %}
            {{ninja.cardNinja('ninjas-list__item', item.name)}}
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}
