{% set
  siteNav = [
    {
      navUrl: '#leonardo',
      navLabel: 'Leonardo',
      navTrigger: 'leonardo'
    },
    {
      navUrl: '#raphael',
      navLabel: 'Raphael',
      navTrigger: 'raphael'
    },
    {
      navUrl: '#michelangelo',
      navLabel: 'Michelangelo',
      navTrigger: 'michelangelo'
    },
    {
      navUrl: '#donatello',
      navLabel: 'Donatello',
      navTrigger: 'donatello'
    }
  ]
%}

{% set
  contentIndex = [
    {
      name: 'leonardo'
    },
    {
      name: 'raphael'
    },
    {
      name: 'michelangelo'
    },
    {
      name: 'donatello'
    }
  ]
%}
