{% extends "layouts/_layout.html" %}

{% block content %}

<main data-barba="wrapper" class="{{main}}">
  <div class="barba-container" data-barba="container" data-barba-namespace="about">
    <section id="about" class="about about_{{selector}} {{selector}}">
      <div class="about__content {{selector}}__content">
        <div class="about__img {{selector}}__img">
          <img src="./img/{{selector}}.jpg" alt="{{selector}}-image">
          <h1 class="about__title {{selector}}__title">{{selector}}</h1>
        </div>
        <div class="about__text {{selector}}__text">
          <p>
            {{sectionText}}
          </p>
        </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}
